<div class="container">
  <div class="row m-5">
    <div class="mx-auto">
      <h2><span>配送先編集</span></h2>
      <%= form_with model:@address do |f| %>
      <table>

      </table>
    </div>
  </div>
</div>