<div class="container p-5">
  <p>
    <h2>商品一覧</h2>
  </p>
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-md-3">
        <table>
          <thead>
            <tr>
              <th>
                <%= link_to item_path(item.id) do %>
                  <%= image_tag item.image, size: "100x100" %>
                <% end %>
              </th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
  </div>
</div>