<div class="container p-5">
  <p>
    <h2>商品一覧</h2>
  </p>
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-md-3">
        <table>
          <thead>
            <tr>
              <th>
                <%= link_to item_path(item.id) do %>
                  <%= image_tag item.image, size: "100x100" %>
                <% end %>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>￥<%= item.price.to_s(:delimited) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    <% end %>
    <div class="col-md-3"></div>
  </div>

  <div class="row p-3">
    <div class="col-md-6 offset-md-3 py-2">

    </div>
  </div>
</div>